<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error de registro</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="container mt-2 jumbotron">
      <h1 class="alert alert-info center-title">
        Error al registrar - El usuario ya existe
      </h1>
      <br />
      <br />
      <div class="div-center">
        <a
          href="/auth/signup"
          type="button"
          class="btn btn-try-again mt-2"
          >Volver al registro de usuario</a
        >
      </div>
    </div>
  </body>
</html>

