<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cerrando sesión</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'
      integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l'
      crossorigin='anonymous'
    />

    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class='container mt-2 jumbotron'>
      <h1 class='alert alert-info'>
        Hasta luego,
        {{this.email}}!
      </h1>
      <div class="spinner"></div>
    </div>
    <script>
      setTimeout(() => { location.href = '/auth/login' }, 3000)
    </script>
  </body>
</html>